<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<RunConfiguration>
		<EnvironmentVariables>
			<Username>james.new@nfocus.co.uk</Username>
			<Password>jasperthedog1</Password>
			<URL>https://www.edgewordstraining.co.uk/demo-site/my-account/</URL>
		</EnvironmentVariables>
	</RunConfiguration>
</RunSettings>